.configuration-con {
  display: flex;
  flex-direction: column;
  background-color: #475569;
  color: #f1f5f9;
  font-family: Roboto;
  padding-left: 50px;
}

.layout-head {
  margin-bottom: 20px;
  padding-top: 10px;
}

.option {
  display: flex;
  margin-bottom: 15px;
}

.inputs-container {
  display: flex;
  flex-direction: column;
}

.check {
  margin-right: 6px;
}
